html {

    background-color: #fafafa;
}

body {
    height: 900px;
    max-height: 1200px;
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
}
p {
    margin-left: 50px;
}

#fb_login {
    width: 130px;
    margin-left: 110px
}

